@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: #F6F6F6;
}

.common-bg-color {
  background-color: #F6F6F6;
}

.white-bg-color {
  background-color: white;
}

.grey-font-color {
  color: #666666;
}

.whispr-blue-text {
  color: #00ACFF !important;
}

.whispr-blue-button {
  background-color: #00ACFF; /* Button background */
  color: white; /* Text color */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect */
.whispr-blue-button:hover {
  background-color: #008CDB; /* Darker shade of the base color on hover */
}

/* Active (click) effect */
.whispr-blue-button:active {
  background-color: #006699; /* Even darker shade when the button is clicked */
}
